<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <div class="card card-header results-block">
    <table class="col-md-12">
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td><strong>Email: </strong><%= friend.email %></td>
            <td><strong>Name: </strong><%= friend.full_name %></td>
            <td><strong>Profile: </strong><%= link_to "View Profile", '#', class: 'btn btn-xs btn-success' %>
            <%= link_to 'Follow friend',
                        friendships_path(user: current_user, friend: friend),
                        method: :post,
                        class: 'btn btn-xs btn-success' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
